// about me
#about {
  padding: 4rem;

  .prelude-content {
    // line-height: ;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    padding: 1rem 1.6rem;
    text-indent: 10px;
  }

  & > div {
    width: 100%;
    // text-align: center;
  }

  h2 {
    font-size: 2.5rem;
    color: $main-orange-light-col;
  }
  h3 {
    font-size: 1.6rem;
  }
  .edu a {
    font-size: 1.4rem;
    color: $main-mint-col;
    text-decoration: underline;
    transition: 1000ms;

    &:hover {
      color: $main-orange-col;
    }
  }
  .edu-content {
    padding: 1rem 1.6rem;
  }
}
